#container {
  background-color: rgba(250, 187, 187, 0.379);
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1em;
  background: linear-gradient(0deg, #E856FF, #E856FF);
  border-radius: 20px;
}